body{
    width: 100vw;
    height: 100vh;
    background:darkmagenta;
    margin:0px;
    padding:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;
    height:50%;
    background-color:darkorchid;
}
.PudgeConatainer{
width:100px;
height:30px;
background-color:aqua;
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
font-size: large;
}
.buttonL{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
p{
    width:100px;
    height:30px;
    background-color:aqua;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    }